@import "tailwindcss";

@keyframes snow {
  0% {
    transform: translateY(-10vh) translateX(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    transform: translateY(30vh) translateX(10px) rotate(30deg);
  }
  60% {
    transform: translateY(70vh) translateX(-10px) rotate(60deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) translateX(15px) rotate(90deg);
    opacity: 0;
  }
}

.animate-snow {
  animation: snow linear infinite;
  will-change: transform, opacity;
}